* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* removes underline */
  color: inherit; /* sets color to inherit from parent */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(34, 34, 34) !important;
}

button {
  transition: all 0.3s ease-in-out;
}
